<nav class="h-14 flex items-center justify-between px-2 w-full lg:max-w-3xl">
    {{ header }}
    <a href="/" class="flex items-center gap-2">
        {{ logo }}
        <img src="{{ url }}" alt="{{ alt }}" class="h-10" />
        {{ /logo }}
        <span>{{title}}</span>
    </a>
    {{ /header }}

    <ul class="flex gap-2">
        {{ nav:collection:pages }}
        <li>
            <a
                href="{{ url }}"
                class="{{ is_current ?= 'text-green-600 underline'}}"
                >{{ title }}</a
            >
        </li>
        {{ /nav:collection:pages }}
    </ul>
</nav>
